#storybook-root {
	width: 100vw;
	height: 100vh;
}

.background {
	background-color: #b3fff5;
	border-radius: 50px;
}

.outer {
	background-color: #f0f0f0;
}

.handle {
	background-color: #088776;
	border-radius: 50px;
	width: 100px;
	height: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.selected {
	box-shadow: 0 0 0 4px white;
}
.pending {
	box-shadow: 0 0 0 4px yellow;
}

.wire {
	stroke: #ecfeff;
	stroke-width: 1;
	z-index: 1;
}

.container {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	overflow: hidden;
}
.container[data-object-over='true'][data-object-accepted='true'] {
	background-color: palegreen;
}
.container[data-object-over='true'][data-object-accepted='false'] {
	background-color: lightcoral;
}

.controls {
	position: absolute;
	top: 0;
	left: 0;
	padding: 12px;
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.containerFrame {
	border: 10px solid lightgray;
	overflow: hidden;
	background-color: #f0f0f0;
}

.containerFrameHandle {
	width: 100%;
	height: 32px;
}

.box-select {
	stroke: white;
	stroke-width: 2;
	fill: none;
}

@keyframes dance {
	0% {
		transform: rotate(0deg);
	}
	33% {
		transform: rotate(2deg);
	}
	66% {
		transform: rotate(-2deg);
	}
}

.dance {
	animation: dance 0.5s infinite cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
